*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main{
    background-color: black;
}

#header{
    background-color: black;
    height: 46px;
}

#nav{
    display: inline-block;
}

#nav li:hover{
    display: inline-block;
    padding: 0 24px;
    line-height: 46px;
}

#nav li{
    display: inline-block;
    padding: 0 24px;
    line-height: 46px;
}


#nav li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
}

#nav li:hover a{
    background-color: gainsboro;
    color: black;
    display: block;
}


#slider{
    height: 500px;
    background-color: gray;
}
